.slide-down {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slide-down.open {
  max-height: 500px; /* Ajuste a altura conforme necessário */
}